* {
  box-sizing: border-box;
}
body {
  background: #fffcbe;
}

.area {
  width: 100vw;
  height: 200px;
  margin-bottom: 20px;
  background: white;
  position: relative;
}

.inside {
  height: 150px;
  position: relative;
  overflow: auto;
}

.content {
  height: 1000vh;
}

.thing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  background: #277ecf;
  color: white;
}

#justScroll {
  background: black;
}

#DebounceScroll {
  background: #2769cf;
}

#ThrottleScroll {
  background: #27cf52;
}

.count {
  position: absolute;
  top: 50%;
  right: 50%;
}
